body {
  background-color: white;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  color: #333333;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: rgba(0,0,0,0.7);
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.home-main-panel {
  font-size: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 15%;
  background-color: rgba(0,0,0,0.7);
  height: 350px;
}

.main-forms {
  color: white;
}

.main-forms-input {
  padding-bottom: 10px;
  padding-top: 10px;
}

.main-forms-input-fields {
  border-radius: 10px;
  width: 50%;
}

.main-forms-input-sub {
  font-size: 10px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.mainButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  width: 80%;
}
.mainButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.mainButton:active {
	position:relative;
	top:1px;
}

.mainTextDisplay {
  display: none;
}

