{% extends "blog/base.html" %}
{% block content %}
    <div style="margin-top: 80px;">
        <a href="#" class="mainButton">Classify Bank Statement</a>
        <br/>
        <div name="classify-bank-statement-results">

        </div>
    </div>
    <div style="margin-top: 80px;">
        <a href="#" class="mainButton">Predict Property Value</a>
        <br/>
        <div name="predict-property-value-results">

        </div>
    </div>
    <div style="margin-top: 80px;">
        <a href="#" class="mainButton">Generate Total Cost</a>
        <br/>
        <div name="generate-total-cost-results">

        </div>
    </div>
{% endblock content %}
