{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="main-forms">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="main-forms-input">Username: <input type="text" class="main-forms-input-fields" name="username">
                </div>
                <div class="main-forms-input">Password: <input type="password" class="main-forms-input-fields" name="password">
                </div>
            </fieldset>
            <br/>
            <div class="main-forms">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}
